/* styles.css */
.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.product-card {
  width: 150x; /* Örnek genişlik */
}

.image-container {
  flex: 1;
  padding: 10px;
}

.card-details {
  flex: 2;
  padding: 10px;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  color: #777;
}

.ui.two.buttons {
  margin-top: 10px;
}

/* Modal stilleri */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}